# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
venv_wsl/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
dist-info/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.cache/

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
