region              = "us-east-1"
cluster_name        = "cloud-native-app-cluster"
ecr_repository_name = "cloud-native-app"
github_owner        = "danielgyongyossy-devops"
github_repo         = "devops-journey-2026"
github_branch       = "main"
